.hero {
  max-width: 480px;
  height: 400px;
  background-color: var(--back-hero-footer-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  background-repeat: no-repeat;
  background-position: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) {
    width: 100%;
    .container {
      display: flex;
      justify-content: center;
    }
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-mob-x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-mob-x2.jpg);
    }
  }
  @media screen and (min-width: 480px) {
    max-width: 100%;
    .container {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-tab-x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-tab-x2.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-dt-x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-dt-x2.jpg);
    }
  }
}

.hero-head {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-color);
  font-weight: 900;
  font-size: 22px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 479.5px) {
    font-size: 18px;
  }
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 750px;
    font-size: 44px;
    line-height: 1.36;
  }
}
