.wedo {
  margin-bottom: 94px;
  padding-top: 0;
}

.wedo-list {
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.wedo-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.wedo-item {
  position: relative;
}
.over-block {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  transform: translateY(-100%);
}

.over-block-title {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-color);
}
