.btn-hero {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
}
