.logo {
  display: inline-block;
  .footer .container & {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.logo__part--white {
  color: var(--hero-color);
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
