.container__nav {
  display: flex;
  align-items: center;
}

.navigations__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigations {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 50px;
  .navigations__link--current {
    color: var(--accent-color);
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.navigations__link--current {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 28px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    transform: translateY(42px);
  }
}
