body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--hero-color);
}

button {
  font-family: inherit;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
