:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --back-hero-footer-color: #2f303a;
  --back-team-color: #f5f4fa;
  --back-midle-color: #e5e5e5;
  --logo-color: #000000;
  --portfolio-photo-back-color: #eeeeee;
  --border-bc: #ececec;
  --icon-fill: #afb1b8;
  --section-client: #f5f5f5;
}
